.layout {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
}

.header {
  padding: 0.5rem;
}

.main {
  flex: 1;
}

.footer {
  flex-shrink: 0;
  padding: 0.5rem;
}

.footer .current-seed-link {
  display: block;
  padding: 1rem;
}

.footer .actions {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.footer .action {
  list-style: none;
  padding: 0 1rem;
}
