.tile-info {
  left: 2rem;
  position: fixed;
  text-align: left;
  bottom: 2rem;
  height: 10rem;
  width: 15rem;
  transform: rotate3d(10, 10, 1, -15deg);
}

.tile-info .title {
  margin-bottom: 0;
}

.tile-info .tile-info-inner {
  --aug-border-bg: gold;
  --aug-border: 1px;
  --aug-inset: 4px;
  padding: 1rem;
  text-align: center;
  height: 100%;
}

.tile-info .id {
  --aug-border-bg: gold;
  --aug-border: 1px;
  --aug-inset-bg: gold;
  color: #1b0d1e;
  height: 3rem;
  padding: 2rem;
  position: absolute;
  text-align: center;
  width: 5rem;
}
