.token {
  display: block;
  background: white;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background: linear-gradient(145deg, #cad0b0, #f0f7d1);
  box-shadow: 2px 2px 4px #6f485c, -2px -2px 4px #7d5268;
  position: fixed;
  top: 100px;
  left: 60%;
}
